# Root directory
*.log

# Next.js (mynextapp/)
mynextapp/.next/
mynextapp/out/
mynextapp/node_modules/

# Django (myproject/)
myproject/__pycache__/
myproject/*.pyc
myproject/*.pyo
myproject/db.sqlite3
myproject/db.sqlite3-journal
myproject/media/  # If you have a media folder for uploaded files

# Python
*.egg-info/
dist/
build/
*.egg
*.log
*.pot
*.rej
*.swp
*.swpx
*.user
*.orig
*.swo
*.db
*.pid.lock
*.pytest_cache/
*.coverage
*.cache/
*.nox/
*.venv/
*.virtualenv/
*.DS_Store

# IDEs and editors
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.jfm
*.bsstate
*.resharper
*.rre
*.suo
*.user
*.vscode
*.sln.docstates
*.sln.ide/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
